<% if !!flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1>My Trades</h1>
<% i = 1 %>
<% while i < @trades.length %>
  <% @trades.sort { |a, b| b.date <=> a.date }.each do |t| %>
    <label><a href='/trades/t.id'><%=i%></a>. </label><label>Name/Symbol: </label><%= t.coin %><br>
    &emsp;<label>Quantity: </label><%= t.quantity %><br>
    &emsp;<label>Buy Value (Fiat): </label><%= t.buy_value_fiat %><br>
    &emsp;<label>Sell Value (Fiat): </label><%= t.sell_value_fiat %><br>
    &emsp;<label>Net Profit/Loss: </label><%= (t.sell_value_fiat - t.buy_value_fiat) %>
    &emsp;<label>Date: </label><%= t.date %><br><br>
    &emsp;<label>Notes: </label><%= t.notes %><br><br><br>
    <% i += 1 %>
  <% end %>
<% end %>

<% # Add delete/edit button /or link next to every trade in the private_show.erb %>
