display individual user info

User Profile

<h4>Total Trades: <%= @trades.all.size %></h4>
<h4>Years traded: </h4>
<% @years.each do |y| %>
  <a href='/years/<%=y.year_id%>'><%=y.year_id%></a>
<% end %>

<h1><%= @user.username %>'s Public Profile</h1>

<h2>Trades</h2>
<% @trades.each do |t| %>
  <% if t.viewable == true %>
<ol><li>
  <label>Name/Symbol: </label><%= t.coin %><br>
  <label>Quantity: </label><%= t.quantity %><br>
  <label>Buy Value (Fiat): </label><%= t.buy_value_fiat %><br>
  <label>Sell Value (Fiat): </label><%= t.sell_value_fiat %><br>
  <label>Net Profit/Loss: </label><%= (t.sell_value_fiat - t.buy_value_fiat) %>
</li><br>
</ol>
  <% end %>
<% end %>
