<!-- display individual user info -->

<h1><%= @user.username %>'s Public Profile</h1>
<h4>Total Trades: <%= @trades.all.size %></h4>
<h4>Years traded: </h4>
<% @year_ids.each do |year_id| %>
  <a href='/years/<%=Year.find(year_id).year%>'><%=Year.find(year_id).year%></a>
<% end %>

<h2>Trades</h2>
<% i = 0 %>
<% while i < @trades.length %>
  <% @trades.sort { |a, b| b.date <=> a.date }.each do |t| %>
    <% if t.viewable == true %>
    <!-- make trade.id's clickable -->
    <label><a href='/trades/<%=t.id%>'><%=i+1%></a>. </label><label>Name/Symbol: </label><%= t.coin %><br>
    &emsp;<label>Quantity: </label><%= t.quantity %><br>
    &emsp;<label>Buy Value (Fiat): </label><%= "#{t.fiat_symbol}#{t.buy_value_fiat}" %><br>
    &emsp;<label>Sell Value (Fiat): </label><%= "#{t.fiat_symbol}#{t.sell_value_fiat}" %><br>
    &emsp;<label>Net Profit/Loss: </label><%= "#{t.fiat_symbol}#{(t.sell_value_fiat - t.buy_value_fiat) * t.quantity}" %>  &emsp;<label>Date: </label><%= t.date %><br><br>
    <% i += 1 %>
    <% end %>
  <% end %>
<% end %>
