<% if !!flash[:message] %>
  <%= flash[:message] %>
<% end %>
<!-- style with css -->

<h1>View All Public Trades</h1>
<h4><a href='/users/<%=User.find_by(id: current_user.id).slug%>'>Go to my trades</a></h4>

<!-- list links to /trades/:id -->
  <% @trades.each do |t| %>
    <% if t.viewable == true || t.user_id == current_user.id %>
      &emsp;<label>Name/Symbol: </label><%= t.coin %><br>
      &emsp;<label>Quantity: </label><%= t.quantity %><br>
      &emsp;<label>Buy Value (Fiat): </label><%= "#{t.fiat_symbol}#{t.buy_value_fiat}" %><br>
      &emsp;<label>Sell Value (Fiat): </label><%= "#{t.fiat_symbol}#{t.sell_value_fiat}" %><br>
      &emsp;<label>Net Profit/Loss: </label><%= "#{t.fiat_symbol}#{(t.sell_value_fiat - t.buy_value_fiat) * t.quantity}" %>
      &emsp;<label>Date: </label><%= t.date %>
      &emsp;<label>User: </label><a href='/users/<%=User.find_by(id: t.user_id).slug%>'><%= User.find_by(id: t.user_id).username %></a>
      &emsp;<label>ID# </label><a href='/trades/<%=t.id%>'><%=t.id%></a><br>
      <% if t.user_id == current_user.id %>
        <br>
        &emsp;<a href='/trades/<%=t.id%>/edit'>Edit</a> / <a href='/trades/<%=t.id%>/delete'>Delete</a>
      <% end %>
      <br><br><br>
    <% end %>
  <% end %>


<!-- list all trades that are publicly viewable
list all trades that are viewable to you (after a follow request) -->
